@import './iconfont.scss';
@import './reset.scss';
@import './variable.scss';

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
